/* #footer{
    height: 20vh;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_footer{
    display: flex;
    flex-direction: column;
    gap:14px;
}

#footer_icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#redes_sociais{
display: flex;
gap: 15px;
}

#redes_sociais img{
   width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
}


#logo{
    width:150px;
}

#linha {
    height: 1px;
    width: 100%;
    background: var(--accent);
    opacity: .4;
    border: none;
}


#footer_home p {
    margin: 0;
    text-align: center;
    color: var(--accent);
    font-size: var(--tamanho-titulo);
    font-weight: 500;
} */

/* -----------------------------FOOTER--------------------------------- */
#footer_home {
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#footer_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_vhburguer_footer {
    width: 150px;

}

#icons {
    display: flex;
    gap: 14px;
}

#icons img {
    width: 25px;
    height: 25px;

    display: block;
    cursor: pointer;
}

/* linha */
#linha {
    height: 1px;
    width: 100%;
    background-color: var(--accent);
    opacity: .4;
}

/* copyright */
#footer_home p {
    margin: 0;
    text-align: center;
    color: var(--accent);
    font-size: 15px;
    font-weight: 500;
}



/* -----------------------------FIM FOOTER--------------------------------- */
