#footer_home {
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#footer_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_vhburguer_footer {
  width: 250px;
}

#icons {
  display: flex;
  gap: 14px;
}

#icons img {
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;
}

/* linha */
#linha {
  height: 1px;
  width: 100%;
  background-color: var(--accent);
  opacity: 0.4;
}

/* copyright */
#footer_home p {
  margin: 0;
  text-align: center;
  color: var(--accent);
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 640px) {

  .logo_vhburguer_footer {
    width: 150px;
  }

  #icons{
    gap: 8px;
  }

  #icons img {
  width: 20px;
  height: 20px;
}

#footer_home p {
  font-size: 12px;
}
}