#header{
    height: 10vh;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo_subheader{
    width: 250px;
}


#nav_menu a{
    text-decoration: none;
    color: var(--accent);
    font-weight: 600;
    font-size: var(--text-botao);
}


@media (max-width:768px){
    .logo_subheader{
    width: 150px;
}
}