.card {
  background-color: var(--background);
  width: 95%;
  height: 400px;
  border-radius: var(--radius);
  height: auto;
  overflow: hidden;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6);
}

.imagem_card {
  object-fit: cover;
  margin: 0;
  width: 100%;
  height: auto;
  display: block;
}

.titulo_produto {
  background: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 32px;
}

.descricao {
  text-align: justify;
  padding: 25px;
  font-size: var(--tamanho-texto);
  line-height: 1.4;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 180px;
}

.icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icone_card {
  width: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.alteracao {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: var(--primary);
  align-items: center;
  height: 60px;
}

.preco {
  font-size: 25px;
  color: var(--accent);
  font-weight: 500;
}

.produto_inativo {
    filter: blur(3px);
    opacity: 0.5;
}
