
.main{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.detalhes_produto{
    background-color: white;
    border-radius: var(--radius);
    margin: 70px 0;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.detalhes_produto h1{
    font-weight: 500;
    font-size: 70px;
    color: var(--accent);
    padding: 20px;
}

.detalhes_produto img{
    width: 60%;
    height: auto;
    object-fit: cover;
    border-radius: var(--radius);

}


.informacao_produto{
    display: grid;
    grid-template-columns:2fr 1fr;;
    gap: 40px;
    padding: 50px 80px;

}

.preco_classificacao{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.preco_classificacao ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}

.preco_produto{
    display: flex;
    flex-direction: column;
}

.valor{
      display: flex;
    gap: 10px;
    align-items: center;
}

.descricao p {
    max-width: 600px;
    font-size: var(--tamanho-texto);
    text-align: justify;
}

.descricao h2{
    padding-bottom: 10px;
}

.preco_produto h2{
    padding-bottom: 10px;
}

.preco_produto p{
   font-size: var(--tamanho-texto);
}

.categoria_produto h2{
    padding-bottom: 10px;
}

.categoria_produto li{
    font-size: var(--tamanho-texto);
    padding-left: 5px;
}