#botoes{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

#edicao{
    display: flex;
    gap: 25px;
}

#filtrar{
    background-color: var(--accent);
    border-radius: var(--radius);
    width: 150px;
    height: 40px;
    color: var(--text);
    font-weight: 500;
    font-size: var(--tamanho-botao);
    color: var(--primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

#promocao{
    background-color: var(--accent);
    border-radius: var(--radius);
    width: 250px;
    height: 40px;
    color: var(--text);
    font-weight: 500;
    font-size: var(--tamanho-botao);
    color: var(--primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#adicionar{
     background-color: var(--accent);
    border-radius: var(--radius);
    width: 250px;
    height: 40px;
    color: var(--text);
    font-weight: 500;
    font-size: var(--tamanho-botao);
    color: var(--primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filtrar img{
    width: 25px;
    padding-left: 8px;

}

#catalogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 0;
}